<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>helper</key>
	<array>
		<dict>
			<key>img</key>
			<string>help_menu.png</string>
			<key>text</key>
			<string>在首页向有轻滑，左侧会出现新婚相册列表，点击一个相册，右边会以网格的形式列出这个相册里面所有的婚纱照的缩略图。</string>
		</dict>
		<dict>
			<key>img</key>
			<string>help_pic.png</string>
			<key>text</key>
			<string>在婚纱照相册的缩略图中，点击一个缩略图会打开对应的大图。左右滑动可以查看上或下一张婚纱照，双指捏放可以放大和缩小，双击可以放到最大，再双击可以还原。</string>
		</dict>
		<dict>
			<key>text</key>
			<string>在浏览婚纱照大图的时候，顶部右上角有分享按钮，点击可以将婚纱照分享任何地方。</string>
		</dict>
	</array>
	<key>congratulation</key>
	<string>  恭祝%@和%@喜结连理。愿你们的爱情生活，如同无花果树的果子渐渐成熟；又如葡萄树开花放香，作基督馨香的见证，与诸天穹苍一同地每日每夜述说着神的荣耀！</string>
</dict>
</plist>
