
<!DOCTYPE html>
<html>
<head>
<title>PhotoSwipe</title>
<meta
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"
	name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="/static/photoswipe/styles.css" type="text/css"
	rel="stylesheet" />

<link href="/static/photoswipe/photoswipe.css"
	type="text/css" rel="stylesheet" />

<script type="text/javascript"
	src="/static/photoswipe/lib/klass.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>

<script type="text/javascript"
	src="/static/photoswipe/code.photoswipe.jquery-3.0.5.min.js"></script>

<script type="text/javascript">
	(function(window, $, PhotoSwipe) {

		$(document).ready(function() {

			var options = {};
			$("#Gallery a").photoSwipe(options);

		});

	}(window, window.jQuery, window.Code.PhotoSwipe));
</script>

</head>
<body>

	<div id="MainContent">

		<div class="page-content">
			<h1>{{album.name}}</h1>
			<div>{{album.description}}</div>
			<div><a href="/upload/{{album.key()}}">Upload!</a></div>
		</div>

		<ul id="Gallery" class="gallery">
			{% for picture in pictures %}
			<li><a href="{{picture.image}}=s1600"><img
					src="{{picture.image}}=s240-c" alt="{{picture.name}}" /></a></li> {% endfor
			%}
		</ul>

	</div>

</body>
</html>
