
<!DOCTYPE html>
<html>
<head>
<title>{{album.name}} - 婚纱相册</title>
<meta
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
	name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="/static/photoswipe/styles.css" type="text/css"
	rel="stylesheet" />

<link href="/static/photoswipe/photoswipe.css" type="text/css"
	rel="stylesheet" />

<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
<link rel="stylesheet"
	href="/static/bootstrap/css/bootstrap-responsive.min.css">
<!-- Bootstrap CSS fixes for IE6 -->
<!--[if lt IE 7]><link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"><![endif]-->
<script type="text/javascript" src="/static/photoswipe/lib/klass.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>

<script type="text/javascript"
	src="/static/photoswipe/code.photoswipe.jquery-3.0.5.min.js"></script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/static/jquery.file.upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/static/jquery.file.upload/js/jquery.iframe-transport.js"></script>
<script src="/static/js/app/album.details.js" type="text/javascript"></script>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">婚纱相册</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="#">{{album.name}}</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container">
		{% if isAdmin: %}
		<div>
			<a id='upload' class="btn btn-primary" href="/upload/{{album.key()}}"><i
				class="icon-plus icon-white"></i> <span>上传</span></a> <a id='edit'
				class="btn btn-success" href="/albums/create?album={{album.key()}}"><i
				class="icon-pencil icon-white"></i> <span>编辑</span></a> <a id='delete'
				class="btn btn-danger" href="/albums/delete/{{album.key()}}"><i
				class="icon-trash icon-white"></i> <span>删除</span></a>
		</div>
		{% endif %}
	</div>

	<ul id="Gallery" class="gallery">
		{% for picture in pictures %}
		<li><a href="{{picture.image}}=s1600"><img
				src="{{picture.image}}=s240-c" alt="{{picture.name}}" /></a></li> {% endfor
		%}
	</ul>


</body>
</html>
