<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/albums.css" />
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/footer.css" />
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.corner.js"></script>
<script type="text/javascript" src="/static/js/app/albums.js"></script>
<title>Albums</title>
</head>
<body>
	<div id="cover">
		<div class='landscape'>
			<img alt="" src="/static/img/Green-Grass-lite.jpg">
		</div>
		<div class="covershadowPosition covershadow"></div>
		<div class="covershadowPosition profile">
			<div class="details">
				<div class='head'>
					<img src="/static/img/profile.head.jpg">
				</div>
				<div class='textcontainer'>
					<div class='text'>
						<div class='couples'>{{setting.girlName}} &amp; {{setting.boyName}}</div>
						<div>
							<div class='descItem'>
								<span class='iconcontainer'> <span class="icon"></span>
								</span> <span class='descItemDetails'>{{webSetting.praise1}}</span>
							</div>
							<div class='descItem'>
								<span class='iconcontainer'> <span class="icon"></span>
								</span> <span class='descItemDetails'>{{webSetting.praise2}}</span>
							</div>
							<div class='descItem'>
								<span class='iconcontainer'> <span class="icon"></span>
								</span> <span class='descItemDetails'>{{webSetting.praise3}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='admin'>
			{% if user: %} <span>{{user.nickname()}}</span><span> | </span> {%
			endif %} {% if isAdmin: %} <a href="/albums/create">新建</a><span>
				| </span> {% endif %} <a href="{{url_log}}">{{url_linktext}} </a><span>
				| </span><a href="/downloads">下载</a> <span>&nbsp;&nbsp;</span>
		</div>
	</div>
	<div id='albums'>
		{% for album in albums %}
		<div class='album'>
			<div class='name'>{{album.name}}</div>
			<div class='albumContainer'>
				<div class='albumCover'>
					<a href="/albums/details/{{album.key()}}"> {%if album.cover %}
						<img src='{{album.cover}}=s240'>
					</a> {% else %} <img src='/static/img/no_photo_135.png'></a> {% endif
					%}
				</div>
				<div class='description'>
					<div class='lable'>描述</div>
					<div class='details'>{{album.description}}</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class='clean'></div>
	<div id="footer">
		<div class="container">
			<p class="muted credit">
				&copy; 2013 <a href="http://www.co-rising.com/">Co-risng</a> &middot; Version: 1.0 Beta 
			</p>
		</div>
	</div>
</body>
</html>