@CHARSET "utf-8";

#cover {
	margin: 0px;
	margin: 0px;
	position: relative;
	color: #fff;
	min-height: 160px;
}

#cover .landscape img {
	width: 100%;
}

#cover .covershadowPosition {
	height: 160px;
	margin-left: -11px;
	padding-left: 11px;
	width: 100%;
	z-index: 2;
}

#cover .covershadow {
	background: url('/static/img/map_gradient.png');
	background: -webkit-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.3)
		30%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.7) 100%);
	background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.3) 30%,
		rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.7) 100%);
	bottom: 0;
	position: absolute;
}

#cover .profile {
	background-color: transparent;
	bottom: 0;
	font-size: 12px;
	position: absolute;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}

#cover .profile .details {
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 900px;
}

#cover .profile .details .head {
	left: 20px;
	width: 120px;
	height: 120px;
	margin-top: 0;
	position: absolute;
	top: 20px;
	margin-top: 0;
}

#cover .profile .details .head img {
	-webkit-border-radius: 60px;
	border-radius: 60px;
}

#cover .profile .details .textcontainer {
	display: table;
	font-size: 12px;
	height: 100%;
	margin: 0 20px 0 160px;
}

#cover .profile .details .textcontainer .text {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

#cover .profile .details .textcontainer .text .couples {
	display: inline-block;
	margin-bottom: 5px;
	white-space: nowrap;
	font-size: 28px;
	margin: 0 10px 0 0;
	max-width: 482px;
	text-align: left;
}

#cover .profile .details .textcontainer .text .descItem {
	display: inline-block;
	margin: 5px 15px 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#cover .profile .details .textcontainer .text .descItem .iconcontainer {
	display: inline-block;
	height: 16px;
	margin-right: 0;
	position: relative;
	vertical-align: middle;
	width: auto;
}

#cover .profile .details .textcontainer .text .descItem .iconcontainer .icon
	{
	background: no-repeat url('/static/img/profile.icons.png') 0 -787px;
	height: 12px;
	top: 0;
	width: 11px;
	opacity: .7;
	display: inline-block;
	left: 0;
	margin-right: 5px;
	position: relative;
	vertical-align: top;
}

#cover .profile .details .textcontainer .text .descItem .descItemDetails
	{
	filter: alpha(opacity =   
		                                                         
		     67);
	opacity: .67;
	color: #fff;
}

#cover .profile .details .head img {
	width: 100%;
	height: 100%;
}

#cover .admin {
	background-color: transparent;
	bottom: 0;
	font-size: 12px;
	height: 32px;
	position: absolute;
	z-index: 3;
	text-align: right;
	width: 100%;
}

#cover .admin, #cover .admin a {
	color: #fff;
	filter: alpha(opacity =   
		                                                         
		     67);
	opacity: .67;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}

#albums {
	text-align: center;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#albums .album {
	float: left;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #c4c4c4;
	box-shadow: 0 1px 2px #c4c4c4;
	background-color: #fff;
	border-top: 5px solid #fff;
	margin: 30px 10px;
	width: 320px;
}

#albums .albumTopColor-0 {
	border-top-color: #76a7fa;
}

#albums .albumTopColor-1 {
	border-top-color: #bc5679;
}

#albums .albumTopColor-2 {
	border-top-color: #e46f61;
}

#albums .albumTopColor-3 {
	border-top-color: #fbcb43;
}

#albums .albumTopColor-4 {
	border-top-color: #8cc474;
}

#albums .albumTopColor-5 {
	border-top-color: #f9b256;
}

#albums .album .name {
	padding: 17px 20px 15px;
	vertical-align: top;
	text-align: left;
	color: #262626;
	font-size: 20px;
}

#albums .album .albumContainer {
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	color: #404040;
	overflow: hidden;
	padding: 0 20px 17px;
}

#albums .album .albumContainer .albumCover {
	text-align: center;
}

#albums .album .albumContainer .albumCover img {
	border: 0px;
	height: 186px;
}

#albums .album .albumContainer .description {
	margin: 16px 0 0;
	overflow: hidden;
	vertical-align: top;
	text-align: left;
	line-height: 1.4;
	margin-bottom: 23px;
}

#albums .album .albumContainer .description .lable {
	color: #262626;
	font-size: 14px;
	font-weight: bold;
}

#albums .album .albumContainer .description .details {
	font-size: 13px;
}